/* CSS Document */
/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

/* Element Styles */

body {
  	margin: 1em .5em 1em .5em;
  	text-align: center;
  	font-family: 'Roboto', sans-serif;
  	color: #222;
	background-color:#F6F7F1;
	font-size: 1.125em;
	
}

a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

a:hover {
	color: red;
}

nav ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	
}

nav li {
	padding: .5em;
}

nav a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

footer nav {
	float: right;
	display: none;
}

footer .name {
/*	float: left;*/
	padding-top: .5em;
}

/* Section Styles */

.name {
	font-size: 180%;
	font-family: 'Lobster', cursive;
}

/* Profile information section */

.main-header {
	
}

.profile-bio {
}

.profile-image {
	width: 75%;
}

/* Portfolio Section */

.thumbnail-description {
	margin: 0  2em 2em 2em;
}

.thumbnail {
	width: 100%;
}

.thumbnail-section {
/*	flex: 1;*/
}

.thumbnail-section-title,
.contact, 
.contact-information, {
	padding-top: 10%;
}

/* Contact Section */

.contact {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 3em;
}

.contact a {
	color: #3A3A3A;
}

.top {
		display: block;
		padding-top: 1.5em;
/*		float: right;*/
}

/* Media Queries */

@media screen and (min-width: 320px) {
	footer .name {
		float: left;
	}
	
	.top {
		float: right;
	}
}

@media screen and (min-width: 768px) {
	.main-nav {
		width: 500px;
		margin: 0 auto;
	}
	
	section {
		display: flex;
		flex-flow: row wrap;
	}
	
	footer nav {
		display: flex;
	}
	
	.top {
		display: none;
	}
	
	.main-header {
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
		margin: 5em .75em 5em .75em;
	}
	
	.profile-bio {
		width: 50%;
		text-align: left;
		margin: 0 .75em;
	}
	
	.profile-image {
		width: 45%;
	}
	
	.thumbnail,
	.thumbnail-description {
		padding: .75em;
	}
	
	.thumbnail-section {
		width: 50%;
	}
	
}

@media screen and (min-width: 1024px) {
	main,
	.contact {
		margin-top: 5em; 
	}
	
	.name {
		float: left;
		padding: .333em;
	}
	
	.main-nav {
		float: right;
		width: 360px;
	}
	
	.main-header {
		display: inline-block;
	}
	
	.profile-bio {
		float: left;
	}
	
	.profile-image {
		float: right;
		
	}
	
	.thumbnail-section {
		width: 33.33%;
	}
	
}